<div>
  <div>
    <picture>
      <source
        srcset="https://content.da.live/${DA_ORG}/${DA_REPO}/${DA_DEST}/${PATH}/.${PARENT_TITLE}/${IMAGE_NAME}">
      <source
        srcset="https://content.da.live/${DA_ORG}/${DA_REPO}/${DA_DEST}/${PATH}/.${PARENT_TITLE}/${IMAGE_NAME}"
        media="(min-width: 600px)"><img
        src="https://content.da.live/${DA_ORG}/${DA_REPO}/${DA_DEST}/${PATH}/.${PARENT_TITLE}/${IMAGE_NAME}"
        loading="lazy">
    </picture>
  </div>
  <div>
    <h2><strong>${TITLE}</strong></h2>
  </div>
</div>