<body>
  <header></header>
  <main>
      <div>
          <div class="search"></div>
      </div>
      <div>
          <div class="section-metadata">
              <div>
                  <div>
                      <p>style</p>
                  </div>
                  <div>
                      <p>dark</p>
                  </div>
              </div>
          </div>
          <h2>What's New</h2>
          <div class="carousel">
              <div>
                  <div>
                      <picture>
                          <source
                              srcset="https://content.da.live/aemsites/koassets/.all-content-stores/fh25-carousel-image.png">
                          <source
                              srcset="https://content.da.live/aemsites/koassets/.all-content-stores/fh25-carousel-image.png"
                              media="(min-width: 600px)"><img src="https://content.da.live/aemsites/koassets/.all-content-stores/fh25-carousel-image.png" loading="lazy">
                      </picture>
                  </div>
                  <div>
                      <p>Fanta Halloween 2025</p>
                  </div>
              </div>
              <div>
                  <div>
                      <picture>
                          <source
                              srcset="https://content.da.live/aemsites/koassets/.all-content-stores/widget-lemonade-300x230-v2.png">
                          <source
                              srcset="https://content.da.live/aemsites/koassets/.all-content-stores/widget-lemonade-300x230-v2.png"
                              media="(min-width: 600px)"><img src="https://content.da.live/aemsites/koassets/.all-content-stores/widget-lemonade-300x230-v2.png" loading="lazy">
                      </picture>
                  </div>
                  <div>
                      <p>Minute Maid Limonade</p>
                  </div>
              </div>
              <div>
                  <div>
                      <picture>
                          <source
                              srcset="https://content.da.live/aemsites/koassets/.all-content-stores/artd-teaser.png">
                          <source
                              srcset="https://content.da.live/aemsites/koassets/.all-content-stores/artd-teaser.png"
                              media="(min-width: 600px)"><img src="https://content.da.live/aemsites/koassets/.all-content-stores/artd-teaser.png" loading="lazy">
                      </picture>
                  </div>
                  <div>
                      <p>ARTD Portfolio</p>
                  </div>
              </div>
              <div>
                  <div>
                      <picture>
                          <source
                              srcset="https://content.da.live/aemsites/koassets/.all-content-stores/fifa-slim-can-carousel-thumb.png">
                          <source
                              srcset="https://content.da.live/aemsites/koassets/.all-content-stores/fifa-slim-can-carousel-thumb.png"
                              media="(min-width: 600px)"><img src="https://content.da.live/aemsites/koassets/.all-content-stores/fifa-slim-can-carousel-thumb.png" loading="lazy">
                      </picture>
                  </div>
                  <div>
                      <p>FIFA 26 Sliim Can</p>
                  </div>
              </div>
          </div>
      </div>
      <div>
          <div class="section-metadata">
              <div>
                  <div>
                      <p>style</p>
                  </div>
                  <div>
                      <p>center</p>
                  </div>
              </div>
          </div>
          <p><a href="https://forms.office.com/r/Y9tWw8YPEK">Content Store Request Form</a></p>
      </div>
      <div>
      ${BLOCK_CONTENT_STORES}
      </div>
      <div></div>
  </main>
  <footer></footer>
</body>