/* CSS Variables */
:root {
  --button-color: #f81c04;
}

/* Main layout */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}

.container,
.container * {
  font-family: "TCCC UnityText Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
  color: #1e1e1e;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  min-height: 0;
}

/* Global button styling */
button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d11700;
}

button:active {
  background-color: #bd1500;
}

button:disabled {
  background-color: #ff8c80;
  color: #f8f8f8;
  cursor: not-allowed;
}

/* Responsive layout */
@media (min-width: 768px) {
  .main-content {
    flex-direction: column;
  }
}

.container .tccc-metadata-label {
  color: #9a9a9a;
  font-size: .6875rem;
  font-weight: 400;
  line-height: .825rem;
}

.container .tccc-metadata-value {
  font-family: "TCCC UnityHeadline", sans-serif !important;
  text-transform: uppercase !important;
  color: #0e202e !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: normal !important;
}

.container .tccc-tag {
  background: #fff0da;
  border-radius: 14px;
  color: #a46801;
  font-family: "TCCC UnityHeadline", sans-serif;
  font-size: 10px;
  font-weight: 600;
}

.container h3 {
  font-size: 1.2857rem;
}

.container a {
  text-decoration: none;
}

.container h3 a {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "TCCC UnityHeadline";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.container a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.container h1, .container h2, .container h3, .container h4, .container h5 {
  font-weight: 700;
  line-height: 1.2857em;
}

.container .add-to-cart-btn {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  white-space: nowrap;
}

.container .add-to-cart-btn::before {
  display: none;
}

.container .add-to-cart-btn:hover {
  background-color: var(--primary-color);
}

.container .add-to-cart-btn:active {
  transform: translateY(1px);
}

.container .add-to-cart-btn:disabled {
  background-color: #bdc3c7;
  color: #ecf0f1;
  cursor: not-allowed;
}

.container .add-to-cart-btn.remove-from-cart {
  width: 190px;
}

.container .add-to-cart-btn.pop-effect {
  animation: pop 0.3s cubic-bezier(0.4, 0.2, 0.2, 1);
}
